.logo-container {
    background-color: black;
    height: 15vh;
    max-height: 90px;
}

.header-logo-responsive {
    max-width: 480px;
    width: auto;
    height: 80px;
    display: block;
    filter: drop-shadow(0 0 20px black);
    background-color: black;
    margin-left: -25px;
}

@media (max-width: 700px) {
    .header-logo-responsive {
        max-width: 90vw;
    }
}