<button id="menuBtn" class="menu-btn" onclick="toggleMenu()">
    <span class="material-icons">menu</span>
</button>

<div id="sideMenu" class="side-menu">
    <div class="close-menu-btn-container">
        <button id="closeMenuBtn" class="close-menu-btn" onclick="toggleMenu()">
            <span class="material-icons">close</span>
        </button>
    </div>
    <div class="menu-items-container">
        <a href="/browse" class="menu-item">
            <span class="material-icons">folder</span>
            <span>Browse</span>
        </a>
        <a href="/login" class="menu-item">
            <span class="material-icons">login</span>
            <span>Login</span>
        </a>
    </div>
</div>

<header>
    <div class="text-center logo-container">
        <img src="resources/image.png" alt="IMPULSE Logo" class="header-logo-responsive d-inline-block" />
    </div>
</header>