<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/components/topics/topics.css" rel="stylesheet">
<div class="topics-container">
    <div class="topics-content">
        <div class="glow-line top"></div>
        <h1 class="title">__VOID__</h1>
        
        <div class="search-container">
            <span class="material-icons search-icon">search</span>
            <input type="text" class="search-input" placeholder="Quantum Search" id="searchInput">
        </div>

        <div class="topics-container" id="topicsContainer">
            <!-- Topics will be dynamically loaded here -->
        </div>
        <div class="glow-line bottom"></div>
    </div>
</div>

<script src="/components/topics/topics.js"></script>
