<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h6 class="title"></h6>
<div class="assessment-container">
    <div class="assessment-content">
        <div class="glow-line top"></div>
        <div class="timer-row">
            <span class="material-icons timer-icon">schedule</span>
            <div class="timer" id="timer">00:00</div>
        </div>
        <div id="question" class="question-text"></div>
        <form class="options-list"></form>
        <div class="nav-btns">
            <button class="submit-btn" id="prevBtn" type="button">Prev</button>
            <button class="submit-btn" id="nextBtn" type="button">Next</button>
            <button class="submit-btn" id="submitBtn" type="button" style="display:none;">Submit</button>
        </div>
    </div>
</div>
<div id="result"></div>

